<div class="page-header clearfix">
  <h3 class="pull-left"><i class="fa fa-send"></i>All Statuses</h3>
  <%= link_to "<i class='fa fa-plus'></i> Add new".html_safe , new_status_path , class: "btn btn-success pull-right" %>
</div>

<% @statuses.reverse.each do |status| %>

<div class="status">
  <p>
    <i class="fa fa-user"></i>
    <strong><%= status.user.full_name %></strong>
  </p>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
    <span class="admin">
        | <i class="fa fa-pencil"></i><%= link_to "Edit", edit_status_path(status) %> |
        <i class="fa fa-trash"></i><%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status?" } %>
    </span>
  </div>
</div>

<% end %>